@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
body{
  margin: 0;
  padding: 0;
  background-image: url(Fondo2.jpg);   
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.add-btn-inicio {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 20px;
}


/* Estilos generales para el modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 100%;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  background-image: url('https://img.freepik.com/foto-gratis/representacion-3d-escenario-carretera_23-2151293959.jpg'); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #333;
  font-family: "Play write DE Grund";
}

.form-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos para los inputs */
.modal-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
}

textarea.modal-input {
  height: 100px;
  resize: none;
}

/* Estilos para los botones */

.modal-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.add-btn, .cancel-btn {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 48%;
  color: #fff;
}

.add-btn {
  background-color: #28a745;
}

.cancel-btn {
  background-color: #dc3545;
}

.add-btn:hover {
  background-color: #218838;
}

.cancel-btn:hover {
  background-color: #c82333;
}

/* Estilo general del contenedor */
.container {
  width: 90%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  
}

form {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

ul {
  list-style-type: none;
  padding: 0;
}

.anime-item {
  display:flex;
  flex-direction: column;
  border: 1px solid #e9c1c1;
  border-radius: 15px;
  margin-bottom: 25px;
  background-color: #fff;
}

.anime-info {
  display:flex;
  gap: 20px; 
  
}

.anime-img {
  
  width: 350px;
  border-radius: 5px;
  padding:10px

}

.anime-details {
  padding:5px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.anime-details h2 {
  margin: 5px;
  font-family: Playwrite;
}

.anime-details p {
  margin: 10px 0;
  font-family: Open Sans;
  display: flex;

}

.anime-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.anime-actions button {
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  cursor:pointer;
}

.anime-actions .edit {
  background-color: #4CAF50;
  color: white;
}

.anime-actions .delete {
  background-color: #f44336;
  color: white;
}

.search-bar {
  width: 90%;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 40px;
  font-size: 18px;
}
  
::placeholder{
  color: gray;
}
